body {
    font-family: "Calibri"
}

.prototype, .hidden {
	display: none;
}

.ba-work-area {
	overflow: hidden;
}

.ba-editor {
	width: 300px;
	height: 500px;
	float: left;
}

#ba-display {
	float: left;
}

@media print {
	#ba-editor, .ba-toggle-editor {
		display: none;
	}	
}